# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
.vscode/
.vs/
*.db
DTE-2600/.vs/The Basics/v17/.suo
*.db
*.db
DTE-2600/.vs/The Basics/v17/Solution.VC.db
DTE-2600/.vs/The Basics/v17/Browse.VC.db
DTE-2600/.vs/The Basics/v17/.suo
